<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>404 Not found </title>
 
  <link rel="stylesheet" href="ruta/a/bootstrap.min.css">
</head>
<body class="bg-light d-flex align-items-center justify-content-center" style="height: 100vh;">
  <div class="container text-center">
    <h1 class="display-4">404 Not found</h1>
    <p class="lead">The page you were looking for doesn't exist.</p>
  </div>
 
  <script src="ruta/a/bootstrap.bundle.min.js"></script>
</body>
</html>
