/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 .expired-alert {
    color: #721c24; /* Cambia el color del texto a rojo oscuro */
    background-color: #f8d7da; /* Cambia el fondo a un tono rojo claro */
    padding: 0.75rem; /* Añade un relleno para resaltar más la alerta */
    border: 1px solid #f5c6cb; /* Añade un borde para enfatizar la alerta */
    border-radius: 0.25rem; /* Añade bordes redondeados para mejorar el aspecto */
  }

  /* Estilo para el botón */
.btn-style {
  background-color: #007bff;
  color: #fff;
  padding: 10px 15px;
  text-decoration: none;
  border-radius: 5px;
}

/* Estilo para el enlace */
.link-style {
  color: #007bff;
  text-decoration: none;
}

.link-style:hover {
  text-decoration: underline;
}

.selectable-button {
  user-select: auto;
  user-select: text;
}


